<style>
.name {
    font-size: 15px;
    color: #757575;
    font-family: Calibri-Regular;
}
.nav > li.logo_name {
    width: calc(100% - 150px);
}
.nav > li.cart_icon {
    float: none;
    width: 100px;
    margin-right: 0 !important;
}
</style>
<div class="bg" ng-controller="address" ng-init="address_init()">

    <header class="container-fluid nav-down">
        <div class="row">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid no-padding">
                <ul class="nav navbar-nav top_header">
                  <li class="menu_icon back_icon"><a href="javascript:void(0)"  ><img style="width:13px;" src="assets/img/icon/back.png" id="asdf" alt="menu icon" ng-click="back()"/></a></li>
                  <li class="logo_name"><a class="text-left back">{{'My_Addresses' | translate }}</a></li>
                  <li class="cart_icon">
                    <a href="javascript:void(0)" style="font-size:14px" ng-click="toAddAddress()">
						<!--<img src="assets/img/google-icon/edit-address.png" alt="search icon"/>-->
						ADD NEW
					</a>
                  </li>
                </ul>
              </div>
            </nav>
        
        </div>
        <!-- MOBILE-MENU-AREA END -->
    </header>
    
    <!-- END HEADER -->    
         
        <div class="" ng-if="address">
            <div class="address mt-40">
                <h3>{{'Saved_Address' | translate }}</h3>
            </div>
        </div>
        <div class="">
            <div class="saved_address" ng-repeat="x in address" ng-if = "address" data-aos="fade-up" data-aos-delay="{{$index*50}}"> 
                 <div class="address_logo">
                     <img src="assets/img/google-icon/location.png">
                 </div>
                 <div class="address_details">
                    <h3>
                        <span class="name">{{fullName}}</span><br>
                        <span class="name">Mobile : {{x.mobile_number}}</span><br />
                        {{x.landmark + " , " + x.address}}<br />
                        {{x.CITY_NAME + " , " + " " + x.COUNTRY_NAME}}<br />
                        {{x.zipcode}}
                    </h3>
                <a class="edit" ng-click="toEditAddress(x.id)">{{'Edit' | translate }}</a>
                <a class="delete" ng-click="delete_address(x.id)">{{'Delete' | translate }}</a>
                 </div>
            </div>
        </div>
    <div   class="no_data_wrapper" ng-if = "!address">
        <div>
            <img src="img/no_data_found.png">
            <h3 class="text-center" >{{'No_Address_Found' | translate }} !!!</h3>
        </div>
    </div>
	
<!--End of Pop up-->
</div>