<style>
.terms input {
    position: absolute;
    left: 16px;
    width: 1.5em;
    height: 1.5em;
}
.pretty input {
    z-index: 0;
}
.mui-textfield select{
    height: calc(32px + 1px);
    margin-bottom: -1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #b7b7b7;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.26);
    outline: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}
</style>
<div ng-controller="add_delivery">
<div ng-init="countryInit();">
  <header class="container-fluid nav-down">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container no-padding">
          <ul class="nav navbar-nav top_header text-center">
			<li class="menu_icon "><a href="javacript:void(0)"><img src="assets/img/icon/back.png" id="asdf" ng-click="backtohome()"  alt="menu icon" style="width: 13px;" /></a>
			</li>
            <li class="page_name">
              <a href="javascript:void(0)" class="text-left text-center">
                <p>{{'Add_Delivery_Person'| translate}}</p>
              </a>
            </li>

          </ul>

        </div>
      </nav>

    </div>
    <!-- MOBILE-MENU-AREA END -->
  </header>
  <!-- END HEADER -->


  <div class="container">
    <div class="login_form">
      <div class="form_container">
        <form method="post" name="loginform" novalidate>
          <div class="mui-textfield  col-sm-6 col-xs-12">
            <input type="text" id="first" name="fname" ng-model="fname" placeholder="{{' First_Name' | translate}}" required>
            <label for="first">{{'First_Name' | translate}}</label>
          </div>
          <div class="mui-textfield col-sm-6 col-xs-12">
            <input type="text" id="last" ng-model="lname" name="lname" placeholder="{{' Last_Name' | translate}}" required>
            <label for="last">{{' Last_Name' | translate}}</label>
          </div>
		   <div class="mui-textfield col-sm-6 col-xs-12">
            <input type="email" id="email" name="email" ng-model="email" placeholder="{{'Email' | translate}}" required>
            <label for="email">{{'Email' | translate}}</label>
          </div>
		   <div class="mui-textfield col-sm-6 col-xs-12">
            <input type="password" id="pass" ng-model="password" name="password" placeholder="{{'Password' | translate}}" required>
            <label for="pass">{{'Password' | translate}}</label>
          </div>
                  
          <div class="mui-textfield col-sm-6 col-xs-12">
		   
            <input  type="tel" id="mbl_num" name="mob_number" ng-model="mob_number" placeholder="{{'Mobile_Number' | translate}}" required>
            <label for="mbl_num">{{'Mobile_Number' | translate}}</label>
          </div>
           <div class="mui-textfield col-sm-6 col-xs-12">
                    <select ng-model="status"  name="status">
                        <option value="">{{'Select' | translate}}</option>
                        <option value="active"> {{'Active' | translate}}</option>
                        <option value="inactive"> {{'Inactive' | translate}}</option>
                    </select>
					 <label for="last">{{'Status' | translate}}</label>
           </div>
         
          <div class="submit-btn col-sm-6 col-xs-12 text-center" ng-click="user_registers('loginform')">
            <a href="javascript:void(0)" ng-keyup="$event.keyCode == 13 ? loginuser('loginform') : null">{{'Submit' | translate}}</a>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  </div>
  <!--  END Banner SLIDER -->
  <!--End of Pop up-->
  <!--End of Pop up-->
   <div>
	<div class="bottom_navigation"  ng-init="loginlogout()">
		
		<div class="bottom_block" ng-init="selecthome()">
			<a  ng-click="homego();" ng-if="color" style="background:{{background}}">
			<img src="assets/img/google-icon/google-home.png">
			<span style="display:block;"> {{'Home' | translate}}</span>
			</a>
		</div>
		
		<div class="bottom_block">
			<a ng-click="category()" style="background: rgba(81, 169, 0, 0.10196078431372549)"><img src="assets/img/google-icon/google-category.png">
			<span style="display:block;">{{'Category' | translate}}</span>
			</a>
		</div>
		
		<div class="bottom_block">
			<a ng-click="orderList()"><img src="assets/img/google-icon/google-list.png">
			<span style="display:block;">{{'My_Orders' | translate}}</span>
			</a>
		</div>
		
		<div class="bottom_block">
			<a ng-click="gotoAccount()"><img src="assets/img/google-icon/google-account.png">
			<span style="display:block;"> {{'Account' | translate}}</span>
			</a>
		</div>
	</div>
	</div>

<!--End of Pop up-->

<!--End of Pop up-->

</div>