<div class="bg" ng-controller="myaccount" ng-init="myprofile_data()">
    <header class="container-fluid nav-down">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid no-padding">
                    <ul class="nav navbar-nav top_header">
                        <li class="menu_icon back_icon"><a href="#"><img ng-click="back()" src="assets/img/header/back.png"
                                    id="asdf" alt="menu icon" /></a></li>
                        <li class="logo_name"><a class="text-left back">My Account</a></li>

                    </ul>
                </div>
            </nav>

        </div>
        <!-- MOBILE-MENU-AREA END -->
    </header>

    <!-- END HEADER -->


    <div class="my_profile_div mt-50">
        <ul class="profile_menu">
            <li>
                <a ng-click="dashboard()">
                    <span class="profile_type">
                        <img src="assets/img/dashboard.png">
                        <p>Dashboard</p>
                    </span>
                </a>
            </li>
            <li>
                <a ng-click="my_profile()">
                    <span class="profile_type">
                        <img src="assets/img/my_profile.png">
                        <p>My Profile</p>
                    </span>
                </a>

            </li>
            <li>
                <a ng-click="mywallet()">
                    <span class="profile_type">
                        <img src="assets/img/my_profile.png">
                        <p>My Wallet</p>
                    </span>
                </a>

            </li>
            <li>
                <a ng-click="my_orders()">
                    <span class="profile_type">
                        <img src="assets/img/my_order.png">
                        <p>My Orders</p>
                    </span>

                </a>

            </li>
            <li>
                <a ng-click="my_address()">
                    <span class="profile_type">
                        <img src="assets/img/my_address.png">
                        <p>My Address</p>
                    </span>

                </a>

            </li>
            <li>
                <a ng-click="change_password()">
                    <span class="profile_type">
                        <img src="assets/img/change_password.png">
                        <p>Change Password</p>
                    </span>

                </a>

            </li>
            <li>
                <a ng-click="logout()">
                    <span class="profile_type">
                        <img src="assets/img/log_out.png">
                        <p>Logout</p>
                    </span>

                </a>

            </li>
        </ul>
    </div>
<!--End of Pop up-->
  <!--End of Pop up-->
   <div>
	<div class="bottom_navigation"  ng-init="loginlogout()">
		<div ng-if="loggbyno == 'no'" class="bottom_block">
			<a ng-click="loginbynoti()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
			<span style="display:block;">Inbox</span>
			</a>
		</div>
		
		<div ng-if="loggbyno == 'yes'" class="bottom_block" ng-init="get_notification()">
			<a ng-click="notification()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class="notifi-count" ng-if="countnotification">{{countnotification}}</span><span class="notifi-count" ng-if="countnotification =='0'">{{countnotification}}</span>
			<span style="display:block;">Inbox</span>
			</a>
		</div>
		<div class="bottom_block" ng-init="selecthome()">
			<a  ng-click="homego();" ng-if="color" style="color:{{color}};background:{{background}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
			<span style="display:block;">Home</span>
			</a>
		</div>
		<div class="bottom_block">
			<a ng-click="outofapp('out');"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
			<span style="display:block;">Exit</span>
			</a>
		</div>
	</div>
	</div>

<!--End of Pop up-->

<!--End of Pop up-->

</div>