<div ng-controller="myprofile" ng-init="fetchcountry()">
<style>
	.login_form {
		margin-top: 45px;
    }
	.nav > li.cart_icon a:last-child {
		width: 100%;
		font-size:15px;
		text-align:right;
    }
</style>
<header class="container-fluid nav-down">
	<div class="row">
		<nav class="navbar navbar-inverse">
		  <div class="container no-padding">
			<ul class="nav navbar-nav top_header text-center">
			  <li class="menu_icon "><a href="javascript:void(0)"  ><img src="assets/img/icon/back.png" id="asdf" alt="menu icon"style="width: 13px;" ng-click="back()"/></a></li>
				<li class="page_name left">
					<a href="javascript:void(0)" class="text-left ">
						<p>{{'My_Info' | translate }}</p>
					</a>
				</li>
				<li class="cart_icon">
					<a href="javascript:void(0)" id="editProfile"> {{'EDIT' | translate }}
						<!--<span class="badge">14</span>-->
					</a>
			</li>
			  
			</ul>
			
		  </div>
		</nav>
	
	</div>
	<!-- MOBILE-MENU-AREA END -->
</header>
<!-- END HEADER -->
	
<div class="container">
		<div class="login_form">
			<div class="info-container"> 
				<div class="info-btn col-xs-6 text-center pl-10 pr-10 active" ng-init="myprofile_data()">
					<a href="javascript:void(0)" >{{'Basic_Info' | translate }}</a>
				</div>
				<div class="info-btn col-xs-6 text-center pl-10 pr-10">
					<a href="javascript:void(0)" ng-click="toAddress()">{{'Add_Address' | translate }}</a>
				</div>
			</div>
			<div class="form_container pt-10">
				<form class="mui-form" name="updateProfile" method="POST" novalidate enctype="multipart/form-data">
				
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="text"  id="fname" name="fname" ng-model="fname" readonly placeholder="{{'First_Name' | translate}}" required>
					<label for="frst">{{'First_Name' | translate }}</label>
				  </div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="text"  id="lname" name="lname" ng-model="lname" readonly placeholder="{{'Last_Name' | translate}}" required>
					<label for="lst">{{'Last_Name' | translate }}</label>
					</div>
					<div id="onLoad">
						<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="input_country" name="country" ng-model="country" readonly placeholder="{{'Country' | translate}}" >
						<label for="lst">{{'Country' | translate }}</label>
						</div>
						<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="input_city" name="city" ng-model="city" readonly placeholder="{{'City' | translate}}" >
						<label for="lst">{{'City' | translate }}</label>
						</div>
					</div>
					<div id="onEdit">
						<div class="mui-select col-sm-6 col-xs-12">
							<select id="country" name="select_country" ng-model="select_country"   readonly required ng-change="fetchcity()">
								<option value="">Select Country</option>
								<option ng-repeat="c in Countries" ng-value="c.id" >{{c.name}}</option>
							</select>
							<label for="country">{{'Country' | translate }}</label>
						</div>
						<div class="mui-select col-sm-6 col-xs-12">
							<select id="city"  name="select_city" ng-model="select_city" required>
									<option value="">Select City</option>
								<option ng-value="city.id" ng-repeat="city in Cities">{{city.name}}</option>
							</select>
							<label for="city">{{'City' | translate }}</label>
						</div>
					</div>
					
					<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="address" name="address" ng-model="address" readonly placeholder="{{'Address' | translate}}" ng-required="address">
						<label for="email">{{'Address' | translate }}</label>
					</div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="email"  id="email" name="email" ng-model="email" readonly placeholder="{{'Email_ID' | translate}}" required>
					<label for="email">{{'Email_ID' | translate }}</label>
				  </div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="tel"  id="mbl_num"  name="mobile" ng-model="mobile" readonly placeholder="{{'Mobile_Number' | translate}}" pattern="[0-9]{10}" required>
					<label for="mbl_num">{{'Mobile_Number' | translate }}</label>
					</div>
				<!-- 	<div class="mui-textfield col-sm-6 col-xs-12">
							<input type="file"  id="image-preview" onchange="angular.element(this).scope().fileNameChanged()" ng-model="image" name="image" placeholder="Profile Image">
							<label for="image-preview">{{'Profile_Image' | translate}}</label>
					</div>	 -->
				  <div class="submit-btn col-sm-6 col-xs-12 text-center hide" id="submitProfile">
					<a href="javascript:void(0)" ng-click="updateUserProfile('updateProfile')">{{'Submit' | translate }}</a>
				  </div>
				</form>
			</div>
		</div>
	</div>
	<!--End of Pop up-->
   <!--End of Pop up-->
<!--End of Pop up-->
	<!--End of Pop up-->
    <div>
	<div class="bottom_navigation"  ng-init="loginlogout()">
		
		<div class="bottom_block" ng-init="selecthome()">
			<a  ng-click="homego();" ng-if="color" style="background:{{background}}">
			<img src="assets/img/google-icon/google-home.png">
			<span style="display:block;"> {{'Home' | translate}}</span>
			</a>
		</div>
		
		<div class="bottom_block">
			<a ng-click="category()"><img src="assets/img/google-icon/google-category.png">
			<span style="display:block;">{{'Category' | translate}}</span>
			</a>
		</div>
		
		<div class="bottom_block">
			<a ng-click="orderList()"><img src="assets/img/google-icon/google-list.png">
			<span style="display:block;">{{'My_Orders' | translate}}</span>
			</a>
		</div>
		
			<div class="bottom_block">
			<a ng-click="gotoAccount()"><img src="assets/img/google-icon/google-account.png">
			<span style="display:block;"> {{'Account' | translate}}</span>
			</a>
		</div>
	</div>
	</div>

	<!--End of Pop up-->
<!--End of Pop up-->
<!--End of Pop up-->
</div>

<script>
	$(document).ready(function(){
		$("#onEdit").hide();
		$("#editProfile").click(function(){
		var language_code =sessionStorage.lang_code;
		 if(language_code == 'en')
		 {
		   alert("You can Edit your profile now");
		 }else
		 {
		  alert("يمكنك تعديل ملفك الشخصي الآن");
		 }
			
			$("#onLoad").hide();
			$("#onEdit").show();
			$("#fname").removeAttr("readonly");
			$("#lname").removeAttr("readonly");
			$("#address").removeAttr("readonly");/* 
			$("#input_city").removeAttr("readonly");
			$("#input_country").removeAttr("readonly"); */
			$("#submitProfile").removeClass("hide");
		})
	});
</script>