<div ng-controller="sub_category" ng-init="scrollPagination('all')">
    <style type="text/css">
        .owl-carousel .owl-stage {
            width: 40000px !important;
        }

        .slick-slide {
            display: none;
            float: left;
            height: auto;
            min-height: 1px;
            outline: 0;
        }

        .slick-slide {
            width: auto !important;
            margin-right: 5px !important;
        }

        /*    .btn-success.active:focus{
        background-color: #398439;
    } */
        .btn-success.active {
            background-color: #398439;
        }

        .nav>li.cart_icon {
            float: right;
            width: 35%;
        }

        .nav>li.page_name.left {
            width: 55% !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-height: 30px;
            max-height: 30px;
        }

        article {
            margin-bottom: 10px;
        }

        .tab-pane {
            padding-top: 10px;
        }

        .field-title {
            width: 100px;
        }

        .vertical-sliders {
            margin: 0;
        }

        .vertical-sliders>div {
            height: 250px;
        }
    </style>
    <header class="container-fluid nav-down" ng-init="usercartvalue()">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container no-padding">
                    <ul class="nav navbar-nav top_header">
                        <li class="menu_icon "><a href="javascript:void(0)"><img src="assets/img/icon/back.png"
                                    ng-click="back()" id="asdf" alt="menu icon" style="width: 13px;" /></a></li>
                        <li class="page_name left" ng-if="categoryData">
                            <a href="javascript:void(0)" class="text-left ">
                                <p>{{categoryData.name | limitTo:20}}{{categoryData.name.length > 20 ? '...' : ''}}</p>
                            </a>
                        </li>
                        <li class="page_name left" ng-if="best_picks_of_the_season">
                            <a href="javascript:void(0)" class="text-left ">
                                <p>{{feature_name | translate}}</p>
                            </a>
                        </li>
                        <li class="cart_icon">
                            <a href="javascript:void(0);" ng-if="!best_picks_of_the_season"><img src="assets/img/header/filter.png"
                                    alt="search icon" onclick="openFilter()" /></a>
                            <a href="javascript:void(0)"><img ng-click="cart()" src="assets/img/icon/cart_icon.png" alt="cart icon" />
                                <span class="badge">{{cart_count}}</span>
                            </a>
                            <a href="javascript:void(0)"><img src="assets/img/icon/search_icon.png" alt="search icon" /></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav bottom_header">
                        <li class="menu_search_container"><a href="javascript:void(0)">
                                <!--<img src="assets/img/header/search_icon.png" alt="cart icon" />-->
                                <input type="text" class="menu_search" ng-model="searchProduct" name="searchProduct"
                                    placeholder="{{'Search_Products_Brands_and_More' | translate}}" ng-keyup="$event.keyCode == 13 ? searchproducts() : null"
                                    required />
                                <button class="search_bar_span" ng-click="searchproducts()"><i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></button>
                            </a></li>
                    </ul>
                </div>
            </nav>

        </div>
        <!-- MOBILE-MENU-AREA END -->
    </header>
    <!-- END HEADER -->


    <!--Filter Start -->
    <div id="mySidenav-right" class="sidenav-right">
        <form name="filter_form" nonvaldidate>
            <header id="filter-header" class="container-fluid nav-down" style="top: 0 !important;">
                <div class="row">
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid no-padding">
                            <ul class="nav navbar-nav top_header">
                                <li class="menu_icon"><a href="javascript:void(0)"><img onclick="closeFilter()" src="assets/img/header/cross_icon.png"
                                            id="asdf" alt="menu icon" /></a></li>
                                <li class="logo_name" style="width: 100%"><a class="text-center back">Filter</a></li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="filter-body">
                <div class="filter-container">



                    <button class="accordion" id="accord_1" ng-click="init(1);">Price Range</button>
                    <div class="accordion-panel accordion-panel_1">
                        <div class="accordion-container">
                            <article>

                                <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue"
                                    rz-slider-options="minRangeSlider.options"></rzslider>
                            </article>
                        </div>
                    </div>
                    <!-- // {{minRangeSlider}}---------- -->

                    <button class="accordion" id="accord_2" ng-click="init(2);">Brand</button>
                    <div class="accordion-panel accordion-panel_2">
                        <div class="accordion-container">
                            <div class="accordion-options" ng-repeat="x in brand_data">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="checkbox" id="brand_{{x.id}}" value="x.id" ng-model="brands" name="brands"
                                        ng-change="Filtering(x.id)">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label> {{x.name}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button class="accordion" id="accord_4" ng-click="init(4);">Manufacturer</button>
                    <div class="accordion-panel accordion-panel_4">
                        <div class="accordion-container">
                            <div class="accordion-options" ng-repeat="a in manufacturer_list">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="checkbox" id="manufacturer_{{a.id}}" value="a.id" ng-model="manufacturer"
                                        name="manufacturer" ng-change="Filtering_manufacturer(a.id)">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label> {{a.name}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button class="accordion" id="accord_3" ng-click="init(3);">Sort By</button>
                    <div class="accordion-panel accordion-panel_3">
                        <div class="accordion-container">
                            <div class="accordion-options">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="radio" ng-model="sort" name="sort" value="1">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label> A to Z</label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-options">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="radio" ng-model="sort" name="sort" value="3">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label> Z to A</label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-options">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="radio" ng-model="sort" name="sort" value="4">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label> Low to High</label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-options">
                                <div class="pretty p-icon p-curve p-pulse">
                                    <input type="radio" ng-model="sort" name="sort" value="5">
                                    <div class="state p-info-o">
                                        <i class="icon fa fa-check"></i>
                                        <label>High to Low</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="apply_btn_container">
                    <button onclick="closeFilter()"> Cancel</button>
                    <button onclick="closeFilter()" ng-click="fetch_product_list(cat_id,'','apply')"> Apply</button>
                </div>
            </footer>
        </form>
    </div>

    <!--Filter End -->


    <!--  [PULSES] Sub categories content -->
    <div class="container-fluid mt-55">
        <div class="row">
            <div class="">
                <!-- ** Buttons** -->
                <div class="pulses_buttons mb-20 mt-10 ml-10 mr-10" ng-if="categoryData">
                    <div id="" class="owl-carousel owl2 owl-theme owl-loaded owl-drag">
                        <!-- Buttons Items -->
                        <div class="item" ng-if="!value_pack">
                            <!-- <script type="text/ng-template" id="slider-top">
                                    <input type="button" class="btn btn-success all-sub-cat_buttons" id="sub_cat" name="" value="{{sub.name}}" ng-click="fetch_product_list(sub.id)">                       
                                </script> -->
                            <slick class="slider" settings="slickConfig0">
                                <div>
                                    <input type="button" ng-if="categorysubData" class="btn btn-success all-sub-cat_buttons input_default_focus"
                                        id="all" name="" value="All" ng-click="fetch_product_list('all');scrollPagination('all')">
                                </div>
                                <div ng-repeat="sub in categorysubData" class="subcategory_div">
                                    <input type="button" ng-if="sub.sub.length == 0" class="btn btn-success all-sub-cat_buttons" id="sub_cat" name=""
                                        value="{{sub.name}}" ng-click="fetch_product_list(sub.id,sub.url);scrollPagination(sub.id,sub.url)">
                                    <input type="button" ng-if="sub.sub.length > 0" ng-click="loadchild(sub.id,sub.url)" class="btn btn-success all-sub-cat_buttons" id="sub_cat" name=""
                                        value="{{sub.name}}">
                                    <span class="sub_category_icon"  ng-if="sub.sub.length > 0">
                                        <i class="fa fa-th-large" aria-hidden="true"></i>
                                    </span>

                                </div>
                            </slick>
                        </div>
                        <!-- <div class="item">
                                <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 2">
                            </div>
                            <div class="item">
                                <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 3">
                            </div>
                            <div class="item">
                                <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 4">
                            </div> -->
                        <!-- !. Buttons Items -->
                    </div>
                </div>
                <!-- <div ng-if="!categoryData">
                        <p>No Sub Categories</p >
                    </div> -->
                <!-- ** !. Buttons ** -->
                <!-- ** Product Lists ** -->
                <div id="main-div2">
                    <div class="no-padding item_lists_main" ng-repeat="x in product" ng-if="categoryData">

                        <div class="prodcut_main_container">
                            <div class="products_wrapper">
                                <div class="col-md-3 col-sm-3 col-xs-3" ng-if="x.image != ''" ng-click="product_view(x.id,x.url)">
                                    <a href="javascript:void(0)"><img class="img-responsive sub_cat_product_img" src="http://projects.tekshapers.in/ifadabeta//uploads/menu_image/{{x.image}}"></a>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" ng-if="x.image == ''" ng-click="product_view(x.id,x.url)">
                                    <a href="javascript:void(0)"><img class="img-responsive sub_cat_product_img" src="assets/img/product/default.png"></a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 sub_product_desc" ng-click="product_view(x.id,x.url)">
                                    <!-- <input type="button" class="btn btn-default btn_discounts" name="" value="6% Off"> -->
                                    <a href="javascript:void(0)">
                                        <p class="sub_produt_name">{{x.menu_name}}</p>
                                    </a>
                                    <p class="sub_product_qty">{{x.product_varient[0].unit_value}}
                                        {{x.product_varient[0].UNIT_NAME}}</p>
                                    <p class="sub_prcing">
                                        <!-- <strike>AED {{productVarient.price_for_retailer}}</strike> -->
                                        <!-- <span id="sub_rrp" > -->{{currency}} {{x.product_varient[0].price}}
                                        <!-- </span> -->
                                    </p>
                                </div>
                                <div class="wislist_sub wishlist-container" ng-click="taptowishlist(x.product_varient[0].id, x.product_varient[0].is_in_wishlist)">
                                    <!-- <i class="fa heart fa-heart-o"></i>  -->
                                    <!-- <i class="fa fa-heart fill hide" id="clicked"></i>  -->
                                    <i id="blank_{{x.product_varient[0].id}}" class="fa heart fa-heart-o" ng-show="x.product_varient[0].is_in_wishlist == '0'"></i>
                                    <i id="filler_{{x.product_varient[0].id}}" class="fa heart fa-heart fill" ng-show="x.product_varient[0].is_in_wishlist == '1'"></i>
                                </div>

                                <div class="sub_add_product">
                                    <div class="add_item_container sub_add_btn" id="firstt_{{x.id}}" data-attr="{{x.product_varient[0].id}}">

                                        <div class="add_item_button sub_add_btn" data-rowid="{{x.product_varient[0].cart_row_id}}"
                                            id="enableCart_{{x.product_varient[0].id}}" ng-show="x.product_varient[0].cart_row_id">
                                            <button class="less_item" data-menuid="{{x.product_varient[0].id}}"
                                                data-weightid="{{x.product_varient[0].id}}" id="minus_{{x.product_varient[0].id}}"
                                                ng-click="minusToCart($event)">
                                                -
                                            </button>

                                            <input type="text" id="quantity_{{x.product_varient[0].id}}" value="{{x.product_varient[0].cart_quantity}}"
                                                disabled="">

                                            <button class="add_item" data-menuid="{{x.product_varient[0].id}}"
                                                data-weightid="{{x.product_varient[0].id}}" data-weightid="{{x.product_varient[0].id}}"
                                                id="plus_{{x.product_varient[0].id}}" ng-click="plusToCart($event)">
                                                +
                                            </button>

                                        </div>

                                        <div class="add_cart_button sub_add_btn" id="addToCart_{{x.product_varient[0].id}}"
                                            ng-show="x.product_varient[0].cart_row_id == '' && x.product_varient[0].ALLOW_TO_ADD_IN_CART == 'yes'">
                                            <button class="addcart_button" data-menuid="{{x.product_varient[0].id}}"
                                                data-user_id="{{x.user_id}}" data-weightid="{{x.product_varient[0].id}}"
                                                id="addCart_{{x.product_varient[0].id}}" ng-click="addToCart($event)">{{'Add'
                                                | translate }}</button>
                                        </div>

                                        <div class="add_cart_button div_in_stock sub_add_btn" id="outofstock_{{x.product_varient[0].id}}"
                                            ng-show="x.product_varient[0].cart_row_id == '' && x.product_varient[0].ALLOW_TO_ADD_IN_CART == 'no'">
                                            <button class="out_of_stock" data-menuid="{{x.product_varient[0].id}}"
                                                data-user_id="{{x.user_id}}" data-weightid="{{x.product_varient[0].id}}"
                                                id="addCart_{{x.product_varient[0].id}}">{{'Out_Of_Stocks' |
                                                translate}} </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;position: fixed;" class="no_data_wrapper" ng-if="!product && !best_picks_of_the_season">
                    <div class="">
                        <img src="img/no_data_found.png">
                        <h3 class="text-center">{{'No_Product_Found' | translate}}!!!</h3>
                    </div>
                </div>
                <!-- {{product.length}} -->


                <div class="no-padding item_lists_main" ng-repeat="x in best_picks_of_the_season" ng-if="best_picks_of_the_season">

                    <div class="prodcut_main_container">
                        <div class="products_wrapper">
                            <div class="col-md-3 col-sm-3 col-xs-3" ng-click="product_view(x.id)">
                                <a href="javascript:void(0)"><img class="img-responsive sub_cat_product_img" src="{{x.product_image}}"></a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 sub_product_desc" ng-click="product_view(x.id)">
                                <!-- <input type="button" class="btn btn-default btn_discounts" name="" value="6% Off"> -->
                                <a href="javascript:void(0)">
                                    <p class="sub_produt_name">{{x.menu_name}}</p>
                                </a>
                                <!--                                             <p class="sub_product_qty">{{x.product_varient[0].unit_value}} {{x.product_varient[0].UNIT_NAME}}</p>
-->
                                <p class="sub_prcing">
                                    <!-- <strike>AED {{productVarient.price_for_retailer}}</strike> -->
                                    <!-- <span id="sub_rrp" > -->{{currency}} {{x.menu_varient_data.price}}
                                    <!-- </span> -->
                                </p>
                            </div>
                            <div class="wislist_sub wishlist-container" ng-click="taptowish(x.menu_varient_data.id, x.menu_varient_data.is_in_wishlist)">
                                <!-- <i class="fa heart fa-heart-o"></i>  -->
                                <!-- <i class="fa fa-heart fill hide" id="clicked"></i>  -->
                                <i id="blank_{{x.menu_varient_data.id}}" class="fa heart fa-heart-o" ng-show="x.menu_varient_data.is_in_wishlist == '0'"></i>
                                <i id="filler_{{x.menu_varient_data.id}}" class="fa heart fa-heart fill" ng-show="x.menu_varient_data.is_in_wishlist == '1'"></i>
                            </div>

                            <div class="sub_add_product">
                                <div class="add_item_container sub_add_btn" id="firstt_{{x.id}}" data-attr="{{x.menu_varient_data.id}}">

                                    <div class="add_item_button sub_add_btn" data-rowid="{{x.menu_varient_data.cart_row_id}}"
                                        id="enableCart_{{x.menu_varient_data.id}}" ng-show="x.menu_varient_data.cart_row_id">

                                        <button class="less_item" data-menuid="{{x.menu_varient_data.id}}"
                                            data-weightid="{{x.menu_varient_data.id}}" id="minus_{{x.menu_varient_data.id}}"
                                            ng-click="minusToCart($event)">
                                            -
                                        </button>

                                        <input type="text" id="quantity_{{x.menu_varient_data.id}}" value="{{x.menu_varient_data.cart_quantity}}"
                                            disabled="">


                                        <button class="add_item" data-menuid="{{x.menu_varient_data.id}}" data-weightid="{{x.menu_varient_data.id}}"
                                            data-weightid="{{x.menu_varient_data.id}}" id="plus_{{x.menu_varient_data.id}}"
                                            ng-click="plusToCart($event)">
                                            +
                                        </button>




                                    </div>
                                    <!-- ng-show="x.product_varient[0].cart_row_id == '' || (x.product_varient[0].is_in_stock == 'unlimited' || x.product_varient[0].quantity > '0') || (x.product_varient[0].is_in_stock == 'limited' && x.product_varient[0].quantity > '0')"> -->
                                    <!-- <div class="add_cart_button sub_add_btn" id="addToCart_{{x.menu_varient_data.id}}" ng-show="x.menu_varient_data.is_in_stock == 'unlimited' || x.menu_varient_data.quantity > '0'"> -->
                                    <!-- {{x.menu_varient_data.is_in_stock == 'unlimited' || x.menu_varient_data.quantity > '0' && x.menu_varient_data.is_in_stock == 'limited' }} -->
                                    <!-- {{x.menu_varient_data}} -->
                                    <!-- {{x.menu_varient_data.is_in_stock == 'unlimited' && !x.menu_varient_data.cart_row_id}} -->
                                    <div class="add_cart_button sub_add_btn " id="addToCart_{{x.menu_varient_data.id}}"
                                        ng-show=" x.menu_varient_data.cart_row_id == '' && x.menu_varient_data.ALLOW_TO_ADD_IN_CART == 'yes'">
                                        <button class="addcart_button" data-menuid="{{x.menu_varient_data.id}}"
                                            data-user_id="{{x.MANUFACTTURER_ID}}" data-weightid="{{x.menu_varient_data.id}}"
                                            id="addCart_{{x.menu_varient_data.id}}" ng-click="addToCart($event)">Add</button>
                                    </div>

                                    <div class="add_cart_button div_in_stock sub_add_btn" id="outofstock_{{x.menu_varient_data.id}}"
                                        ng-show="x.menu_varient_data.cart_row_id == '' && x.menu_varient_data.ALLOW_TO_ADD_IN_CART == 'no'">
                                        <button class="out_of_stock" data-menuid="{{x.menu_varient_data.id}}"
                                            data-user_id="{{x.MANUFACTTURER_ID}}" data-weightid="{{x.menu_varient_data.id}}"
                                            id="addCart_{{x.menu_varient_data.id}}">Out Of Stock</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ** !. Product Lists ** -->
                <!-- <pagination 
                            ng-model="currentPage"
                            total-items="product.length"
                            max-size="maxSize"  
                            boundary-links="true">
                        </pagination> -->
                <div style="margin-top: 50px;position: fixed;" class="no_data_wrapper" ng-if="categorysubData.length == '0' && !product">
                    <div class="">
                        <img src="img/no_data_found.png">
                        <h3 class="text-center">{{'No_Product_Found' | translate}}!!!</h3>
                    </div>
                </div>
                <!--  <div  style="margin-top: 50px;position: fixed;" class="no_data_wrapper" ng-if="!product && categorysubData.length == '0'">
                        <div class="">
                            <img src="img/no_data_found.png">
                            <h3 class="text-center">{{'No_Product_Found' | translate}}!!!</h3>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <!--  !. [PULSES] Sub categories content -->





    <script>

        $(document).ready(function () {
            $(".cart_icon a:last-child").click(function () {
                //alert();
                $(".bottom_header").slideToggle();
                //$("#banner_slider").toggleClass("search-container")
            });
        });



    </script>

</div>