<div ng-controller="category" ng-init="category_data()">


	<header class="container-fluid nav-down">
		<div class="row">
			<nav class="navbar navbar-inverse">
				<div class="container no-padding">
					<ul class="nav navbar-nav top_header">
						<li class="menu_icon "><a href="javacript:void(0)"><img src="assets/img/icon/back.png" id="asdf" ng-click="backtohome()"  alt="menu icon"
								 style="width: 13px;" /></a></li>
						<li class="page_name left">
							<a href="javacript:void(0)" class="text-left ">
								<p>{{'All_Categories' | translate}}</p>
							</a>
						</li>
						<li class="cart_icon">
							<a href="javascript:void(0)"><img ng-click="cart()" src="assets/img/icon/cart_icon.png" alt="cart icon" />
								<span class="badge">{{cart_count}}</span>
							</a>
							<a href="javacript:void(0)"><img src="assets/img/icon/search_icon.png" alt="search icon" /></a>
						</li>
					</ul>
					<ul class="nav navbar-nav bottom_header">
						<li class="menu_search_container"><a href="javacript:void(0)">
								<!--<img src="assets/img/header/search_icon.png" alt="cart icon" />-->
								<input type="text" class="menu_search" ng-model="searchProduct" name="searchProduct" placeholder="Search products brands and more" ng-keyup="$event.keyCode == 13 ? searchproducts() : null" required/>
							<button class="search_bar_span" ng-click="searchproducts()" ><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
						</a></li>
					</ul>
				</div>
			</nav>

		</div>
		<!-- MOBILE-MENU-AREA END -->
	</header>
	<!-- END HEADER -->

	<!--  All categories content -->
	<div class="container-fluid mt-55">
		<div class="row">
			<div class="container">

				<!-- ** Slides Content ** -->
				<div class="row" ng-repeat="x in category_data;" data-aos="fade-up" data-aos-delay="{{$index*50}}" data-aos-once="true">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding all_cat_boxsing" ng-click="toggleData(x.id)">
						<div class="panel-group all_cat_panel_group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="all_cat panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="all_cat_panelt panel-title">
										<a class="all_cat_headbar collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="false" aria-controls="collapseOne">
											<div class="all_cat_head_img">
												<img class="all_cat_title_img img-responsive" src="{{x.cat_image}}">
											</div>
											<div class="all_cat_headings">
												<h4 class="all_cat_title">{{x.name}} </h4>
												<p class="all_cat_desc">{{x.sub[0].name}}, {{x.sub[1].name}}...</p>
												<!-- <h5 class="all_cat_tags">Spices, Breads</h5> -->
											</div>
										</a>
									</h4>

								</div>
								<div id="collapseOne_{{x.id}}" class="panel-collapse collapse col-xs-12 all_cat_below_div" role="tabpanel"
								 aria-labelledby="headingOne" >
									<div class="all_cat_body panel-body">
 
										<!-- Product Grid -->

										<!-- == row 1 == -->
										<div class="row" >
											<a href="javascript:void(0)"  >
												<div class="col-md-4 col-sm-4 col-xs-4 text-center all_cat_odd_bg mt-5 pl-10 pr-10 pb-10 pt-10" ng-repeat="y in x.sub" ng-click="showProducts(y.id,y.url)">
													<img class="all_cat_product_img img-responsive" src="{{y.cat_image}}"	>
													<p class="all_cat_product_name">{{y.name}}</p>
												</div>
											</a>
											

											<!--  !. == row 2 == -->
										</div>

										<!-- !. Product Grid -->

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- !. ** Slides Content ** -->



			</div>
		</div>
	</div>
	<!--  !. All categories content -->



	<script>


		$(document).ready(function () {
			$(".cart_icon a:last-child").click(function () {
				//alert();
				$(".bottom_header").slideToggle();
				//$("#banner_slider").toggleClass("search-container")
			});
		});
	</script>


</div>