.sign-in-logo{
	width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.logo-container{
	width: 18%;
    margin: 0 auto;
}
.logo-container img{
	width:100%;
}
.sign-up-div a{
	margin-left: 40px;
    font-size: 20px;
    font-weight: 900;
    color: #4f4f4f;
}
.sign-up-form{
	width: 90%;
    margin: 0 auto;
    position: relative;
}
.sign-up-form input{
	width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #5a5a5a;
    box-shadow: 0px 2px 4px 2px #ebebeb;
    font-size: 18px;
	font-family: Montserrat-Light;
}
.sign-up-form img{
	width:5%;
	position: absolute;
    top: 10px;
    left: 15px;
}
.forgot_password, .resend_otp{
	text-align: right;
}
.forgot_password a, .resend_otp a{
    color: #51a900;
	font-family: Montserrat-Light;
    font-weight: 600;
}
.sign-up-button{text-align:center;}
.sign-up-button button{
	width: 80%;
    background-color: #51a900;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
	border: none;
	font-family: Montserrat-Light;
	font-weight: 400;
    letter-spacing: 1px;
}
#otp .digit {
    width: 80%;
    float: left;
    margin-left: 10%;
   
}
.digit1, .digit2, .digit3, .digit4{
   width: 14%;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
    margin-top: 50px;
}
#otp .digit input {
    font-size: 17px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
	color:#1f1f1f;
}
.otp_send_msg{
	width: 70%;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}
.otp_send_msg p {
    font-weight: 600;
    color: #666666;
	font-family: Montserrat-Light;
}
.terms {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 90%;
}
.terms label {
    font-weight: 400;
    font-size: 12px;
    margin-left: 40px;
    font-family: Montserrat-Light;
}
.terms label span{
	color: #51a900;
}
.terms input {
    position: absolute;
    left: 16px;
    width: 1.5em;
    height: 1.5em;
}
.profile_menu li {
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    float: left;
}
.profile_menu li a {
    color: #1f1f1f;
    font-weight: 600;
    width: 100%;
    float: left;
    padding: 15px 0px 15px 0px;
}
.profile_menu li a span img {
    float: left;
    width: 6%;
    margin-left: 15px;
    padding-top: 4px;
}
.profile_menu li a span p {
    width: 80%;
    float: left;
    padding-left: 20px;
    color: #a6a6a6;
    font-weight: normal;
    font-size: 16px;
	font-family: Montserrat-light;
}
.profile_type {
    width: 100%;
    float: left;
}
#view_cart, .cart_item{width: 100%; display: inline-block; padding-bottom: 15px;padding-top: 15px;}
#view_cart .whole_cart {
    width: 95%;
    margin: 10px 10px 5px 10px;
    float: left;
    box-shadow: 0px 0px 4px 1px #f4f4f4;
    border: 1px solid #f4f4f4;
}
#view_cart .cart_image {
    width: 20%;
    float: left;
    height: auto;
    margin: 10px;
}
#view_cart .cart_desc {
   width: 72%;
    float: left;
    text-align: justify;
	position: relative;
}
#view_cart .cart_image img{
        width: 100%;
}
#view_cart .cart_desc h3 {
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    font-size: 15px;
	color: #7a7a7a;
	width:85%;
	margin-top: 10px;
}
#view_cart .add_item_button{
	    width: 38%;
    display: inline-flex;
}
#view_cart .less_item {
    width: 23%;
    font-size: 20px;
    background-color: #51a900;
    border: none;
    margin: 0px;
    border-radius: 3px;
    float: left;
    color: #ffffff;
    outline: none;
    margin-top: 4px;
}

#view_cart .add_item_button input {
    font-size: 17px;
    border: 0;
    color: #b4b4b4;
    width: 43%;
    float: left;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #fff;
}
#view_cart .add_item {
    width: 23%;
    font-size: 20px;
    background-color: #51a900;
    border: none;
    margin: 0px;
    border-radius: 3px;
    float: left;
    color: #ffffff;
    outline: none;
    margin-top: 4px;
}
#view_cart .remove_cart {
    width: 100%;
    float: left;
    border-top: 1px solid #a9a9a9;
    /*border-bottom: 1px solid #a9a9a9;*/
}
#view_cart .remove_item {
    width: 50%;
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    text-align: center;
}
#view_cart .remove_item span, #view_cart .wishlist span {
   /* width: 37%;
    float: left;
    margin: 9px 5px 8px 0px;*/
	padding-right:10px;
}
#view_cart .remove_item span i, #view_cart .wishlist span i {
    font-size: 17px;
    color: #757575;
}
#view_cart .remove_item h3, #view_cart .wishlist h3 {
    font-size: 14px;
    width: 100%;
    /* float: left; */
    margin-bottom: 15px;
    margin-top: 15px;
    /* padding-right: 50px; */
    color: #757575;
    font-weight: 500;
}
#view_cart .wishlist {
    width: 48%;
    display: inline-block;
    text-align: center;
}
.quantity{
	margin-top:0;
}

.item_price{
	width: 57%;
    display: inline-block;
}
.item_price p{
	width: 100%;
    color: #51a900;
    font-weight: bold;
	font-size: 16px;
}
.cart_desc a{
	position: absolute;
    top: 11px;
    right: 2px;
}
.cart_desc a img{width:70%;}

.price_details span{float:right;}
.sub_total h3, .delivery_charge h3, .discount h3{
	
    font-size: 14px;
    font-weight: 600;
    color: #989898;
    font-family: Montserrat-Light;
}
.total{
	border: 1px solid;
    margin: 7px;
    border-radius: 5px;
    background-color: #eeeeee;
    border-color: #eeeeee;
    padding: 15px 0px 15px 0px;
	
}
.total h3{
	margin-top:0;
	margin-bottom:0;
	font-size: 20px;
	color:#4f4f4f;
	font-family: Montserrat-Light;
}
.total span{color: #51a900;}
.price_details{width:100%; float:left;}
.checkout button {
    width: 95%;
    border-radius: 5px;
padding: 15px 0px 15px 0px;}
.address{
	padding-left: 15px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 1px 2px 15px #f1f1f1;
}
.address h3{margin-top:0; padding-top:15px; font-size: 16px; color: #4f4f4f;}
.address_logo{
	width: 10%;
    height: auto;
    float: left;
    margin-top: 21px;
    padding-left: 10px;
}
.address_details{
	width: 70%;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
	text-transform: capitalize;
}
.address_details h3{
	color: #7a7a7a;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.address_details a{
	margin-right: 13px;
    font-weight: 600;
    font-size: 16px;
}
.edit{
	color:#51a900;
}
.delete{
	color: #ff7272;
}
.sign-up-form input[type="radio"]{
	border:none;
	box-shadow:none;
	position: absolute;
	left: 20px;
    top: -1px;
    width: 15px;
    height: 15px;
}
.privacy_policy p{
	text-align: justify;
    font-family: Montserrat-light;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.9em;
    font-weight: bold;
}
.saved_address{
	border-bottom: 1px solid #e3e3e3;
}
.my_orders{
	    margin: 10px;
    padding:5px;
    box-shadow: 0px 0px 5px 3px #f0f0f0;
}
.order_img {
    width: 16%;
    float: left;
    margin-top: 14px;
    margin-left: 5px;
}
.order_desc {
    width: 82%;
    display: inline-block;
    padding-left: 10px;
}
.order_type h3{
	font-family: Montserrat-Regular;
    font-weight: 400;
    font-size: 10px;
    color: #7a7a7a;
    margin-bottom: 5px;
    letter-spacing: 0;
    margin-top: 10px;
}
.clock{
	width: 4%;
    display: inline-block;
}
.timings{
	width: 85%;
    display: inline-block;
}
.timings p{
	font-size: 9px;
    color: #9c9c9c;
}
.timings p span{
	    padding-left: 5px;
}
.status h3{
	width: 46%;
    display: inline-block;
    font-size: 11px;
    margin-top: 15px;
}
.status span{
	color: #51a900;
    padding-left: 5px;
}
.status h3:nth-child(2){
	width:51%;
	text-align:right;
}
.my_order_details{
	box-shadow: 1px 1px 8px 2px #F0F0F0;
    margin: 10px;
    padding: 10px;
}
.order_detail_img{
	width: 15%;
    display: table-cell;
    vertical-align: middle;
}
.order_detail_desc{
	width: 84%;
    display: table-cell;
    padding-left: 10px;
}
.product_name{
	    width: 70%;
}
.product_name h3{
	font-size: 14px;
    margin-top: 10px;
    color: #7a7a7a;
    font-family: Montserrat-Light;
}
.product_qty{
	width: 20%;
    display: inline-block;
}
.product_qty h3{
	font-size: 14px;
    margin-top: 10px;
    font-family: Montserrat-Light;
    color: #7a7a7a;
}
.discount_rate{
	width: 77%;
    display: inline-block;
    text-align: right;
}
.discount_rate span:nth-child(1){
	margin-right: 20px;
    text-decoration: line-through;
	font-family: Montserrat-Light;
}
.discount_rate span:nth-child(2){
	color: #51a900;
	font-family: Montserrat-Light;
    font-weight: 600;
}
.order_cnfm{
	margin: 0px 10px 0px 10px;
    padding-top: 5px;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 6px;
}
.dod {
    width: 55%;
    display: inline-block;
}
.font_type{
	font-size: 13px;
    font-family: Montserrat-Light;
}
.delivery {
    width: 43%;
    display: inline-block;
    text-align: right;
}
.category_container{
	border-radius:6px;
	position:relative;
	max-height: 125px;
    min-height: 125px;
    overflow: hidden;
}
.category_container img{
	border-radius: 6px;
	min-height: 125px;
    max-height: 125px;
}
.category_container a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat-Light;
}
.view_product, .product_info{
	padding: 10px;
    box-shadow: 1px 1px 5px 3px #ececec;
    border-radius: 10px;
}
.product_type .product_img{
	width: 50%;
    margin: 0 auto;
    text-align: center;
}
.product_brand, .product_price, .product_buy, .related_product_desc{
	text-align: center;
}
.product_brand h3{
	font-family: Montserrat-Regular;
    font-weight: 600;
    font-size: 18px;
    color: #51a900;
}
.product_price .discount_price{
	margin-right: 30px;
    
    font-size: 15px;
    font-family: Montserrat-Light;
}
.cut_price{
	text-decoration: line-through;
}
.product_price .actual_price{
	font-size: 15px;
    font-family: Montserrat-Light;
    color: #51a900;
    font-weight: 600;
}
.product_buy button{
	background-color: #51a900;
    color: #fff;
    font-family: Montserrat-Light;
    font-weight: 600;
}
.product_info{
	padding:0px;
}
.additional_info_head{
	border-bottom: 1px solid #d8d8d8;
    position: relative;
}
.additional_info_head h3{
	margin: 0;
    padding-left: 10px;
    color: #51a900;
    font-size: 15px;
}
.underline{
	position: absolute;
    bottom: 0;
    width: 34%;
    height: 2px;
    background-color: #51a900;
    left: 8px;
}
.additional_info{
	padding: 10px;
    text-align: justify;
}
.additional_info p{
	font-family: Montserrat-Light;
    line-height: 1.5;
    color: #7a7a7a;
}
.related_product_img{
	width: 100px;
    height: 120px;
    margin: 0 auto;
}
.related_product_desc h3{
	font-size: 12px;
    color: #51a900;
}
.related_product_price{
	text-align:start;
}
.related_product_price .discount_price {
    font-size: 11px;
    text-align: left;
    font-family: Montserrat-Light;
}
.related_product_price .actual_price {
    font-size: 11px;
    font-family: Montserrat-Light;
    color: #51a900;
    font-weight: 600;
    float: right;
}
.related_product_div{
	padding: 2px;
    box-shadow: 1px 1px 5px 3px #ececec;
    margin: 5px;
    width: 47%;
    border-radius: 6px;
}
.related_products_head h3{
	padding-left: 5px;
    color: #4f4f4f;
    font-family: Montserrat-Light;
    font-size: 20px;
}
.gender{
	width:20%;
	padding-left: 0px;
	font-family: Montserrat-Light;
	color: #5a5a5a;
    margin-right: 20px;
}
.gender_type{
	width: 26%;
    padding-left: 20px;
	font-family: Montserrat-Light;
	color: #979797;
}